<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List all Plants</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">List of Plants</div>
        <div class="panel-body">

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-row" th:each="p : ${plants}">
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.description}"></td>
                    <td th:text="${p.price}"></td>
                    <td>
                        <form th:action="@{/dashboard/tasks/new}" th:object="${task}" method="get">
                            <input type="hidden" name="name" th:value="${p.name}"/>
                            <input type="hidden" name="description" th:value="${p.description}"/>
                            <input type="hidden" name="price" th:value="${p.price}"/>
                            <button class="btn btn-default" type="submit">Create Maintenance Task</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>