<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title> Welcome to Rentit Maintenance System </title>
    </head>
    <body>
        <p th:if="${param.error}">
            Bad Credentials
        </p>
        <form th:action="@{/dashboard/home}" method="POST">
            User Name : <input type="text" name="username"/> <br/><br/>
            Password: <input type="password" name="password"/> <br/><br/>
            <input type="submit" value="Login"/>
        </form>
    </body>
</html>