<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Plant</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Create a new Maintenance Task</div>
        <div class="panel-body">
            <form class="form-horizontal" th:object="${myEntity}" th:method="post" th:action="@{/dashboard/tasks}">
                <input type="hidden" name="plant._id" th:value="${plant._id}"/>
                <input type="hidden" name="plant.equipmentCondition" th:value="${plant.equipmentCondition}"/>
                <input type="hidden" name="plant.plantStatus" th:value="${plant.plantStatus}"/>
                <input type="hidden" name="plant.serialNumber" th:value="${plant.serialNumber}"/>
                <input type="hidden" name="plant.plantInfo._id" th:value="${plant.plantInfo._id}"/>
                <input type="hidden" name="plant.plantInfo.name" th:value="${plant.plantInfo.name}"/>
                <input type="hidden" name="plant.plantInfo.description" th:value="${plant.plantInfo.description}"/>
                <input type="hidden" name="plant.plantInfo.price" th:value="${plant.plantInfo.price}"/>
                <div class="form-group">
                    <div class="col-sm-4"><b>Name</b></div>
                    <div class="col-sm-8"><input id="plant.plantInfo.name" name="plant.plantInfo.name" type="hidden" th:value="${plant.plantInfo.name}" th:text="${plant.plantInfo.name}"/></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"><b>Plant Description</b></div>
                    <div class="col-sm-8"><input id="plant.plantInfo.description" name="plant.description" type="hidden" th:value="${plant.plantInfo.description}" th:text="${plant.plantInfo.description}"/></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"><b>Start date</b></div>
                    <div class="col-sm-8"><input type="date" class="form-control" id="schedule.startDate" th:field="*{schedule.startDate}"/></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"><b>End date</b></div>
                    <div class="col-sm-8"><input type="date" class="form-control" id="schedule.endDate"  th:field="*{schedule.endDate}"/></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"><b>Maintenance Price</b></div>
                    <div class="col-sm-8"><input id="price" type="number" min="1" step="any" th:field="*{price}"/></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"><b>Type of Work</b></div>
                    <div class="col-sm-8">
                        <select id="type_of_work" name="Type of Work" th:field="*{type_of_work}">
                            <option value="PREVENTIVE">Preventive</option>
                            <option value="CORRECTIVE">Corrective</option>
                            <option value="OPERATIVE">Operative</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"><b>Details of maintenance work</b></div>
                    <div class="col-sm-8"><input id="description" type="text" min="1" step="any" th:field="*{description}"/></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-4"><button class="btn btn-default" type="submit">Submit</button></div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>